body{
    font-family: monospace;
}

.rii{
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}
.dadiv{
    float: none;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 30px;
    color:steelblue;
    box-shadow: 5px 5px 5px grey;   
}

.btn-warning{
    color: steelblue;
}

.dapthatholdsobject,.dapthatholdsaccuracy{
    box-shadow: 5px 5px 5px steelblue;
    font-size: 14px;
}

#DAFOOTERTHATHOLDSMYNAME{
    position: fixed;
    background-color: steelblue;
    width:100%;
    text-align: center;
    bottom: 0px;
    color:white;
    padding: 10px;
    font-family: monospace;
}

canvas{
    border: 5px dashed gray;
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: 5px 5px 5px steelblue;
}